
    <!-- Passing variables to be queried against -->

<!-- for later -->
<!-- <h1>Total reviews made by users: <%= @total_reviews %></h1> -->
<h1>Total number of users displayed: <%= @total_users %></h1>

    <div>
      <%= form_tag users_path, :method => 'get' do %>

        <h2>Minimum number of reviews entered by user</h2>
        <%= number_field_tag :num_reviews %>

        <h2>Email</h2>

        <div>
        <%= select_tag("email", options_from_collection_for_select(User.all, :email, :email), {include_blank: true}) %>
        </div>

        <div><%= submit_tag "Search" %></div>


      <% end %>
    </div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      
    </div>
    <div class="col-md-4">
      <h1>All users</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Email</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.email %></td>
              <td><%= link_to 'Show', user %></td>
              <td><%= link_to 'Edit', edit_user_path(user) %></td>
              <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

