<p id="notice"><%= notice %></p>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>My Profile</h1>
			<p>
  				<strong>Email:</strong>
  				<%= @user.email %>

			</p>
			<p>
				<strong>Username:</strong>
  				<%= @user.username.nil? ? "please add a username" : @user.username  %>
			</p>
<!-- <<<<<<< HEAD -->
			<p>	  					
  					<strong>Joined:</strong>
  				<%= @user.created_at.strftime("%d %b. %Y") %>
			</p>

		<!-- 	<h1>Reviews: </h1>
=======

			<h1>Reviews: </h1>
>>>>>>> e9346182710408ad1b3a61ad8e78684c273ebe92
			<% @reviews.each do |review| %>
          		<div>
          			<p>Title: <%= review.title %></p>
          			<p>MenuItem: <%=
          			if(MenuItem.where(:id => review.menu_item_id).empty?)
          			 'no item was specified'
          			else
          				MenuItem.find(review.menu_item_id).name
          			end %></p>
          			<p>Review: <%= review.review %></p>
          			<p>Rating: <%= review.rating %></p>
          			<p>Total Bill: <%= review.totalbill %></p>
          			<p>Last updated: <%= review.updated_at %></p>
          			<p>UserID: <%= review.user_id %></p>
          			<p><%= link_to 'Delete', [review.restaurant, review], method: :delete, data: { confirm: 'Are you sure?' } %><p>
<<<<<<< HEAD
          		</div>			<% end %> -->

			<%= link_to 'Edit my profile', edit_user_path(@user) %> 
			
		</div>

		<div class='col-md-6'>
			<h1>My Stats</h1>

			<p>Number of reviews: <%= @user_review_count%></p>
			<p>Total amount spent in restaurants: <%= number_to_currency(@total_amount_spent) %></p>
			<p>average amount spent in restaurants: <%= number_to_currency(@average_amount_spent) %></p>
			<p>Least expensive bill: <%=  number_to_currency(@cheapest_bil.totalbill)%> at <%= Restaurant.find(@cheapest_bil.restaurant_id).name %></p>
			<p>Most expensive bill: <%=  number_to_currency(@most_expensive_bil.totalbill)%> at <%= Restaurant.find(@most_expensive_bil.restaurant_id).name %></p>
			<p>Last reviewed restaurant: <%= @user_last_reviewed%></p>
			<p>average given rating: <%= number_to_human(@average_rating, precision: 2)  %></p>
			<p>Lowest rating: <%= @lowest_rating.rating %> at <%= Restaurant.find(@lowest_rating.restaurant_id).name %></p>
			<p>Highest rating: <%= @highest_rating.rating %> at <%= Restaurant.find(@highest_rating.restaurant_id).name %></p>

	</div>



	<hr>
	
	<div>
		<h1>My reviews(<%= @user_review_count%>)<p>
			<br>
		<% @user_reviews.each do |review| %>
			<div>
				<p> 
					<h4> <strong><%= review[:title] %></strong> </h4>
				</p>
				<p> 
					<strong>Restaurant</strong>
					<%= link_to Restaurant.find(review[:restaurant_id]).name, restaurant_path(review[:restaurant_id]) %>
				</p>
				<p> 
					<strong>Review</strong>
					<%= review[:review] %>
				</p>
				
				<p> 
					<strong>Rating</strong>
					<%= review[:rating] %>
				</p>
				<p><strong>MenuItem:</strong> <%=
    			if(MenuItem.where(:id => review.menu_item_id).empty?)
    			 'no item was specified'
    			else
    				MenuItem.find(review.menu_item_id).name
    			end %>
        </p>
				<p> 
					<strong>Totalbil</strong>
					<%= number_to_currency(review[:totalbill]) %>
				</p>
				<p> 
					<strong>Date Reviewed</strong>
					<%= review[:created_at].strftime("%d %b. %Y") %>
				</p>	
			</div>
			<hr>
		<% end %>
	</div>
	
