<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Create a Restaurant...</h2>
			<%= form_for @restaurant do |f| %>

	<!-- Checking for any error messages -->
	<% if @restaurant.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved
			</h2>
			<ul>
				<%= @restaurant.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>


	<div class="container-fluid">
		<div class="row">

			<div class="field form-group">
				<%= f.label :name %>
				<%= f.text_field :name, class: 'form-control' %>
			</div>

			<div class="field form-group">
				<div><Strong>Food Prices</Strong></div> 

				<div>
					<%= f.label(:price_low, "Low priced food")%>
					<%= f.radio_button(:pricerange, "low-priced-food")%>
					<br>
					<%= f.label(:price_medium, "Medium priced food")%>
					<%= f.radio_button(:pricerange, "medium-priced-food") %>
					<br>
					<%= f.label(:price_high, "High priced food")%>
					<%= f.radio_button(:pricerange, "high-priced-food") %>
				</div>
			</div>

			<div class="field form-group">
				<Strong><%= f.label :description %></Strong>
				<%= f.text_area :description, class: 'form-control' %>
			</div>

			<div class="field form-group">
				<Strong><%= f.label :restaurant_type%></Strong>
        <%= f.select("restaurant_type", options_from_collection_for_select(Restaurant.select(:restaurant_type).distinct, :restaurant_type, :restaurant_type), {include_blank: true}) %>
			</div>
			<div><%= f.submit %></div>

			</div>
		</div>
		
	</div>
<% end %>


		</div>
	</div>

</div>

