<h1>Editing the Restaurant</h1>

<%= form_for :restaurant, url: restaurant_path(@restaurant), method: :patch do |f|%>


<!-- CHECKING ERRORS -->

	<!-- Checking for any error messages -->
	<% if @restaurant.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved
			</h2>
			<ul>
				<%= @restaurant.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :name %>
		<br>
		<%= f.text_field :name %>
	</p>

	<!-- Type form input goes here (drop menu of types of restaurants) -->

	<p>
		<%= f.radio_button(:pricerange, "low") %>
		<%= f.label(:price_low, "Low priced food")%>

		<%= f.radio_button(:pricerange, "medium") %>
		<%= f.label(:price_medium, "Medium priced food")%>

		<%= f.radio_button(:pricerange, "high") %>
		<%= f.label(:price_high, "High priced food")%>
	</p>

	<p>
		<%= f.label :description %>
		<br>
		<%= f.text_field :description %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>