<div class="container-fluid">
<div class="bottom-border">
  
  <div class="row text-center">
        <!-- Query --> 
        <!-- Passing variables to be queried against -->
    <div class="col-xs-3">
      <%= form_tag restaurants_path, :method => 'get' do %>

        <h1>Search By Keyword</h1>
          <%= text_field_tag :spec, '' %>
    </div>

    <div class="col-xs-3">
       <h2>Select Type of Restaurant</h2>

        <div>
        <%= select_tag("restaurant_type", options_from_collection_for_select(Restaurant.select(:restaurant_type).distinct, :restaurant_type, :restaurant_type), {include_blank: true}) %>
        </div>
    </div>

    <div class="col-xs-3">
      <h2>Food Prices</h2>
          <%= label(:price_low, "Low priced food")%>
          <%= radio_button_tag(:pricerange, "low-priced-food") %>
          <br>
          <%= label(:price_medium, "Medium priced food")%>
          <%= radio_button_tag(:pricerange, "medium-priced-food") %>
          <br>
          <%= label(:price_high, "High priced food")%>
          <%= radio_button_tag(:pricerange, "high-priced-food") %>
    </div>

    <div class="col-xs-3 left-border">
       <h2>Or select a restaurant!</h2>

        <div>
        <%= select_tag("name", options_from_collection_for_select(Restaurant.all, :name, :name), {include_blank: true}) %>
        </div>
    </div>
      
  </div>
    <div class="row">
        <div class="text-center">
              <%= submit_tag "Search", :class => 'btn btn-primary link-anim' %>
            <% end %>
        </div>
    </div>
  </div>
  
  <div class="col-xs-2">  
    </div>

    <div class="col-xs-8">
      <h1 class="text-center">Listing <strong><%= @restaurant_count %>/<%= @total_restaurants %></strong> restaurants</h1>
          <% @restaurants.each do |restaurant| %>
            <div class="rest-list">
              <h2><%= restaurant.name %></h2>
            <p><strong class="title pricerange">
              <% if restaurant.pricerange == "low-priced-food"%> 
                $
              <% elsif restaurant.pricerange == "medium-priced-food" %>
                $$
              <% elsif restaurant.pricerange == "high-priced-food"%>
                $$$
              <% end %>
              </strong>(<%= restaurant.pricerange %>)</p>              <h3>Description:</h3> <p><%= restaurant.description %></p>
              <h3>Restaurant Type: <%= restaurant.restaurant_type %></h3>
              <%= link_to 'Show', restaurant_path(restaurant)%>
              <%= link_to 'Edit', restaurant_path(restaurant)%>
              <%= link_to 'Delete', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          <% end %>
    </div>

      <div class="col-xs-2">
      </div> 
  </div>

