<h1>Listing restaurants</h1>
 
<!-- Query -->
<div id="query-index">
<%= render 'query' %>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Price Range</th>
    <th>Descreption</th>
  </tr>
 
  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.pricerange %></td>
      <td><%= restaurant.description %></td>
      <td><%= link_to 'Show', restaurant_path(restaurant)%></td>
      <td><%= link_to 'Edit', restaurant_path(restaurant)%></td>
    </tr>
  <% end %>
</table>