<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2"> 
        <!-- Query -->
        <div>

        </div>
    </div>

    <!-- Passing variables to be queried against -->

    <div>
      <%= form_tag restaurants_path, :method => 'get' do %>

        <h1>Search Keyword...</h1>
          <%= text_field_tag :search %>
          
        <h2>Name</h2>
          <%= text_field_tag :name %>

        <!-- Select form for type will go here... -->

        <h2>Food Prices</h2>
          <%= label(:price_low, "Low priced food")%>
          <%= radio_button_tag(:pricerange, "low-priced-food") %>
          <br>
          <%= label(:price_medium, "Medium priced food")%>
          <%= radio_button_tag(:pricerange, "medium-priced-food") %>
          <br>
          <%= label(:price_high, "High priced food")%>
          <%= radio_button_tag(:pricerange, "high-priced-food") %>

        <div><%= submit_tag "Search" %></div>


      <% end %>
    </div>
    <div class="col-xs-8">

      <h1>Listing restaurants</h1>

          <% @restaurants.each do |restaurant| %>
            <div id="rest-view-test">
              <h3><%= restaurant.name %></h3>
              <h3><%= restaurant.pricerange %></h3>
              <h3><%= restaurant.description %></h3>
              <h3><%= restaurant.restaurant_type %></h3>
              <%= link_to 'Show', restaurant_path(restaurant)%>
              <%= link_to 'Edit', restaurant_path(restaurant)%>
            </div>
          <% end %>
    </div>
  </div> 
</div>

