<p>
	Name:
	<%= @restaurant.name %>
</p>

<p>
	Pricing:
	<%= @restaurant.pricerange %>
</p>

<p>
	Description:
	<%= @restaurant.description %>
</p>

<!-- Back to index -->
<%= link_to 'Back', restaurants_path %>
<!-- To Edit the restaurant page -->
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
