<!-- Displaying Restaurant Information -->

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p></p>

			<div class="text-center">
			<%= link_to 'Create a review for this restaurant', new_restaurant_review_path(@restaurant), class: "btn btn-success" %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div>
				<div class="bottom-border">
					<h1><%= @restaurant.name %></h1>
					<p>Pricing: <strong><%= @restaurant.pricerange %></strong></p>
					<p><br> <%= @restaurant.description %></p>
				</div>
				<div>
					<p>Restaurant Location(s): <strong class="text-right" ><%= @locations.count %></strong></p>
					<p>Menu Item(s): <strong class="text-right"><%= @menu_items.count %></strong></p>
					<p>Review(s): <strong><%= @reviews.count %></strong></p>
				</div>

				

				<div class="text-center">
				<%= link_to 'Create a Review', new_restaurant_review_path(@restaurant), class: "btn btn-success" %>
			</div>
			</div>
		</div>
		<div class="col-md-3">
			<div>
				<h4><strong>
				Locations:<% @locations.each do |location| %>
				</strong></h4>
				<div class="rest-list">
					<!-- For conversions of time -->
				<%
				 tempOpenT = location.opentime
				 tempCloseT = location.closetime

				 puts "**********************"
				 puts "#{tempOpenT.hour}" + ":" + "#{tempOpenT.min}"
				 puts tempCloseT

				 %>
	              <p>Address: <%= location.address %></p>
	              <p>Open Time: <%= location.opentime.hour %></p>

	              <p>Close Time: <%= location.closetime %></p>
	              <p>Last Updated: <%= location.updated_at %></p>
				</div>
				
          		<% end %>
			</div>
		</div>
		<div class="col-md-3">
			<div>
				<!-- for each Menu Item... -->
          		<h4><strong>Menu Items: <% @menu_items.each do |menu_item| %></strong></h4>

          		<div class="rest-list">
          			 <p>Name: <%= menu_item.name %></p>
          			 <p>Price: <%= menu_item.price %></p>
          			 <p>Description: <%= menu_item.description %></p>
          			 <p>Category: <%= menu_item.category %></p>
          		</div>
          		<% end %>
			</div>
		</div>
		<div class="col-md-3">
          	<!-- For each Review... -->
          	<h4><strong>
          	Reviews:<% @reviews.each do |review| %></strong></h4>

          		<div class="rest-list">
          			<p>Title: <%= review.title %></p>
          			<p>MenuItem: <%=
          			if(MenuItem.where(:id => review.menu_item_id).empty?)
          			 'no item was specified'
          			else
          				MenuItem.find(review.menu_item_id).name
          			end %></p>
          			<p>Review: <%= review.review %></p>
          			<p>Rating: <%= review.rating %></p>
          			<p>Total Bill: <%= review.totalbill %></p>
          			<p>Last updated: <%= review.updated_at %></p>
          			<p>UserID: <%= review.user_id %></p>

          			<!-- <p><%= link_to 'Show', review_path(review.id)%></p> -->

          			<p><%= link_to 'Delete', [review.restaurant, review], method: :delete, data: { confirm: 'Are you sure?' } %></p>
          		</div>
          	<% end %>
        </div>
	</div>

<!-- Back to index -->
<%= link_to 'Back', restaurants_path %>
<!-- To Edit the restaurant page -->
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
