<div class="jumbotron">
	<!-- Image (app icon) followed by title -->
	<div class="container">
		<div class="row">
				<h1 id="header">MunchNow</h1>
			    <p id="notice"><%= flash[:notice] %></p>
			    <p id="alert"><%= flash[:alert] %></p>			 
		</div>
	</div>

	<!-- Buttons / nav goes here -->
	<nav class="navbar">
			<%= link_to "Home", restaurants_path, class: 'btn btn-primary' %>
	    <% if current_user %>
			        	<%= link_to "Edit Profile", edit_user_path(current_user.id), class: 'btn' %>

			        	<%= link_to "Logout", :logout, method: :post, class: 'btn btn-danger' %>

			      <% else %>
			        	<%= link_to "Register", new_user_path, class: 'btn btn-primary' %>
			        	<%= link_to "Login", :login, class: 'btn btn-success'%>
			        <button type="button" class="btn btn-primary">About</button>
		<% end %>
	</nav>
</div>