<div class="jumbotron">
	<!-- Image (app icon) followed by title -->
	<div class="container">
		<div class="row">
				<h1 id="header">MunchNow</h1>
			    <p id="notice"><%= flash[:notice] %></p>
			    <p id="alert"><%= flash[:alert] %></p>			 
		</div>
	</div>

	<!-- Buttons / nav goes here -->
	<nav class="navbar">
		<button type="button" class="btn ">
			<%= link_to "Home", restaurants_path %>
	    </button>	
	    <% if current_user %>
			      	<button type="button" class="btn">
			        	<%= link_to "Edit Profile", edit_user_path(current_user.id) %>
			        </button>
			        <button type="button" class="btn btn-danger">
			        	<%= link_to "Logout", :logout, method: :post %>
			        </button>
			      <% else %>
			      	<button type="button" class="btn">
			        	<%= link_to "Register", new_user_path %>
			        </button>
			        <button type="button" class="btn">
			        	<%= link_to "Login", :login %>
			        </button>
			        <button type="button" class="btn btn-primary">About</button>
		<% end %>
	</nav>
</div>