<!DOCTYPE html>
<html>
<head>
  <title>MunchNow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<!-- Including Header on all pages -->
<%= render "layouts/header" %>
	<div class="container">
		<div class="row">
			    <p id="notice"><%= flash[:notice] %></p>
			    <p id="alert"><%= flash[:alert] %></p>			 
		</div>
	</div>	
<%= yield %>

<!-- Including Header on all pages 
<%= render "layouts/footer" %> -->

</body>
</html>
